body {
  background-color: rgb(232, 99, 99);
  scroll-behavior: smooth;
  margin: 0px;
  /* height: 200vh; */
  background-image: url(./background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/* navbar css  */

.navbar {
  margin: 0px 0px 0px 0px;
  padding:10px 5px 0px 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgb(57, 70, 70);
  height: 10vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-left: 1.5vw;
  padding-right: 5vw;
  z-index: 2;
}
.navbar-top-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: 20vh;
  justify-content: space-around;
}
.user-image {
  width: 6vh;
  background-color: aliceblue;
  border-radius: 50px;
}
.paragraph{
    color:aliceblue
}


/* body css */

.background-image{
    width: 100vw;
    height: 200vh;
    margin-bottom: -5px;
    padding: 0;
    z-index: -2;
}
.title{
    position: sticky;    
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    margin:25vh 40vw 0vh 15vw;
    z-index: 1;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);font-weight: 800;
}
.description{
    margin:3vh 30vw 0vh 15.5vw;
    font-size: 1.5em;
    line-height: 1.5em;
}
.why-us{
    position: sticky;    
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    margin:10vh 40vw 0vh 15vw;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);font-weight: 800;
}

/* sideimages */

.image1{
    width: 96vw;
    position: absolute;
    top: 10vh;
    left: 2vw;
    z-index: -1;
    opacity: 0.2;
}

.image2{
    width: 50vh;
    position: absolute;
    top: 70vh;
    left: 0;
    opacity: 0.2;
}